body {
  background: linear-gradient(to right, #363636, #000);
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .product-card {
    background-color: #333;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.2s;
}
.product-card:hover {
    transform: scale(1.05);
}
.product-icon {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.section-title {
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
  font-family: 'Poppins';
}

.footer {
  background-color: #0d0b0b;
  color: #fff;
  padding: 20px 0;
}
.footer .container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.footer .social-icons a {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}
.footer .social-icons a:hover {
  color: #1da1f2;
}
.footer .social-icons i {
  margin-right: 8px;
}
.footer .address a {
  color: #1da1f2;
  text-decoration: none;
}
.footer .address a:hover {
  text-decoration: underline;
}

.custom-card {
  background-color: #1c1c1c;
  color: white;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

